@model WebMvc.Models.Urunler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Urunler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.UrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlusturmaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuncellemeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuncellemeTarihi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
