@model WebMvc.Models.Image



<h1>Resim Detayı</h1>

<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            Resim
        </dt>

        <dd>
            <img src="~/Images/@Model.Url" width="35%" height="35%" />
        </dd>
        <dt>
            Açıklama
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
            </dd>

<dt>
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlusturmaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuncellemeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuncellemeTarihi)
        </dd>

    </dl>
</div>


