@model IEnumerable<WebMvc.Models.Image>
@{
    /**/

    ViewBag.Title = "Index";
}
<header>

    <div style="background-color:black">
        <div class="jumbotron" style="text-align:center">
            <div class="container">
                <h1>HOŞ GELDİNİZ...</h1>
                <p>Hoş Geldiniz...</p>
                <p><a class="btn btn-primary btn-lg" href="/Home/Index" role="button">Ürünler</a></p>
            </div>
        </div>
    </div>
</header>
<div class="container body-content">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="container">
            <div class="carousel-inner" role="listbox">


                @{int sayi = 0;

                    foreach (var item in Model)
                    {
                        string link = "";
                        string baslik = "";
                        string aciklama = "";
                        link = item.Url;
                        baslik = item.Baslik;
                        aciklama = item.Aciklama;
                        if (sayi == 0)
                        {
                            <div class="item active">
                                <img src="@link" width="1140" height="501">
                                <div class="carousel-caption">
                                    <h3>@baslik</h3>
                                    <p>@aciklama</p>
                                </div>

                            </div>
                            sayi++;
                        }
                        else
                        {
                            <div class="item ">
                                <img src="@link" width="1140" height="501">
                                <div class="carousel-caption">
                                    <h3>@baslik</h3>
                                    <p>@aciklama</p>
                                </div>

                            </div>
                        }
                    }





                }

            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div style="text-align:center" id="Urunler">

    <img src="~/Images/icon.png" />
</div>
@foreach (var item in Model)
{
    <hr class="featurette-divider">
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">@item.Baslik <span class="text-muted">@item.Baslik</span></h2>
                <p class="lead">@item.Aciklama</p>
            </div>
            <div class="col-md-5">
                <img src="@item.Url" width="445" height="250" />
            </div>
        </div>
    </div>
}
<div class="container" id="hakkimizda">
    <h1 style="font-family:'Berlin Sans FB';color:#000000;margin-bottom:24px;">Biz Kimiz?</h1>
    <div class="container rw">
       
            <p>
                25 yılı aşkın bir süredir eczane ve otel işletmeciliği yapmış bir aileyiz. Bu süre içinde yoğun çalışma hayatında sağlıklı beslenmenin ne kadar zor olduğunun sıkıntısını yaşadık. Sağlık sektöründe yıllarca hizmet verdiğimiz için yanlış ve düzensiz beslenmenin sağlığımıza ne kadar zarar verdiğini biliyoruz. Fast food ürünlerinin çığ gibi büyümesiyle sağlığımızı da aynı hızda kaybettiğimizin farkındayız. Ayrıca ülkemizde glutensiz veya düşük proteinli beslenmesi gereken yüzbinlerce PKU, çölyak hastası varken onların yemek yiyebileceği mekanların çok çok az olduğunu biliyoruz. Onları da unutmadık ve menümüzde onlara özel yiyeceklere de yer verdik.<br>
                Aynı zamanda turizm sektöründen edindiğimiz tecrübelerle Türk mutfağının zenginliğinin de bilincindeyiz. Yola çıkış hikayemiz, bu tecrübelerimiz sonucu başladı. Zengin Türk mutfağı yemeklerini anne eli değmişçesine son derece sağlıklı lezzetli bir şekilde neden sunmuyoruz dedik? Veee işte burdayız. Mekanımıza gelince sımsıcak bir aile ortamında en lezzetli ve daha önemlisi sağlıklı yemekleri bulacağınız, öğlen molasında iş stresinden yoğunluğundan tamamen uzaklaşacağınız, ayrılmak istemeyeceğiniz bir mekan olsun istedik. Nerede o eski yemek sohbetleri, nerede o geleneksel yemeklerimiz derseniz işte burdayız. Pikabımızdan yayılan güzel müzikler eşliğinde bizimle yemek yer misiniz? Sizler de bize katılırsanız koskocaman bir aile oluruz. Lezzete açılan Corridorumuzda sizleri bekliyoruz!
            </p>
            

        </div>
    </div>
